$body-background-color-start: #023E8A;
$body-background-color-1: #0077B6;
$body-background-color-2: #0096C7;
$body-background-color-3: #00B4D8;
$body-background-color-4: #48CAE4;
$body-background-color-5: #90E0EF;
$body-background-color-6: #ADE8F4;
$body-background-color-end: #CAF0F8;

@mixin mobile {
  @media screen and (max-width: 480px){
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1095px){
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px){
    @content
  }
}

@keyframes bounce2 {
  from {
    transform: translateY(5);
  }
  to {
    transform: translateY(-5px);
  }
}

.formWrapper form {
  transition: height 0.5s, opacity 0.5s;
}

.formWrapper form.shrink {
  height: 0;
  opacity: 0;
  padding: 0;
}

.formWrapper form.visible {
  height: auto;
  opacity: 1;
}


p {
  margin-top: 5px;
}


body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


body {
  scrollbar-width: none;  /* For Firefox */
}


body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #ADE8F4;
  overflow: hidden;
}

.register-logo{
  height: 10vh;
}

.username-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .thumbs-up, .thumbs-down{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 280px;
    top: -11.7px;
  }

  .thumbs-down {
    top: 5px;
  }
}

.loading-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  h1{
    padding: 0;
    margin: 0;
  }
}

.register-container, .login-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .login-button{
    margin-right: 20px;
  }

  .centeredContentLeft{
    // transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #023E8A;
    font-size: 8.5em;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    color: #ADE8F4;
    flex: 1;
    margin: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 10px;
    border-radius: 0px 0px 20px 20px;

    .big-sphere {
      height: 5vh;
      margin-left: 20px;
      animation: 
    bounce2 800ms
          alternate infinite
          cubic-bezier(.5, .5, .5, 0.5);

    }
  }
}

  @include tablet {
    .centeredContentLeft {
      display: flex;
      justify-content: center;
      border-radius: 0px 0px 20px 20px;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 10px;
      flex: 1;
      flex-direction: row;
      overflow: scroll;
      
      .big-sphere {
        height: 3rem;
        animation: 
      bounce2 800ms
            alternate infinite
            cubic-bezier(.5, .5, .5, 0.5);

      }
      
      .app-title {
        font-size: 10vh;
        font-size: 10vw;
        padding: 10px;
      }
    }
.formContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    overflow: hidden;
    right: -25px; 
    overflow:hidden;
  }

  @include mobile{
    .centeredContentLeft{
      display: none;
    }
  }

  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: $body-background-color-end !important;
    color: $body-background-color-start;
    &:focus {
      outline: none;
    } 
    &::placeholder{
      color: #023E8A;
    }
  }
}

form {
  max-width: 40vw;
};

.formContainer {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADE8F4;
    margin-top: 10px;
    padding: 0;

    button {
      background-color: $body-background-color-start;
      color: $body-background-color-5;
      padding: 15px;
      font-weight: bold;
      border: none;
      border-radius: 90px;
      cursor: pointer;
      min-width: 250px;
    }
  };

  .formWrapper {
    // padding: 20px 90px;
    // margin-right: 100px;
    // border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  
    .logo {
      color: $body-background-color-start;
      font-weight: bold;
      font-size: 45px;
      margin-right: 20px
    };
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:30px;

      p{
        margin-left: 65px;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        text-wrap: nowrap;
        color: #023E8A;
        font-family: bold;
      }

  
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 10px;
        padding-right: 20px;
      };

      .avatar-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        position: relative;
        width: 100%;

        .selected-avatar-image {
          border-radius: 50%;
        }

        .avatar-logo{
          cursor: pointer;
          margin-right: 50px;
        };
      }


      .avatar-input {
        display: flex;
        align-items: center;
        flex-direction: row;
      
        span {
          margin-right: 55%; 
          font-size: 20px;
          color: $body-background-color-start;
          font-weight: bold;
        }
      }
    }
  
    p {
      color: $body-background-color-start;
      font-size: 15px;
      margin-top: 10px;
  
      button {
        background-color: transparent;
        color: $body-background-color-start;
        padding: 10px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  };
  
  .top-navbar {
    background-color: #011013;
    color: #90E0EF;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    .logo {
      flex: 1;
    }
    .spacer {
      flex: 2;
    }
    .settings {
      cursor: pointer;
    }
  }
  
  .side-navbar {
    background-color: #020b18;
    color: #90E0EF;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-left: -10px;
    ul {
      list-style-type: none;
      padding: 0;
      li {
        padding: 10px 0;
        cursor: pointer;
      }

    }

    .course-title {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }








  .landing-page {
    font-family: Arial, sans-serif;
    overflow-y: auto; /* Couldn't Enable vertical scrolling maybe you can */
    overflow-x: hidden; /*Tried horizontal scrollbar */
    overflow: visible !important; /* It didn't override for some reason*/
    
  }
  
  .header {
    background-color: black;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -10px;
  
    .logo {
      font-size: 24px;
      font-weight: bold;
    }
  
    nav {
      ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
  
        li {
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  
  .hero {
    background-color: #023E8A;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    margin-right: -10px;
  
    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }
  
    p {
      font-size: 20px;
      margin-bottom: 40px;
    }
  
    button {
      background-color: #90E0EF;
      color: #023E8A;
      padding: 15px 30px;
      font-size: 20px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        background-color: #0570b0;
      }
    }
  }
  
  .features {
    background-color: #90E0EF;
    padding: 100px 20px;
    text-align: center;
    margin-left: -10px;
  
    h2 {
      font-size: 32px;
      margin-bottom: 40px;
    }
  
    .feature-list {
      display: flex;
      justify-content: center;
      gap: 40px;
  
      .feature-item {
        max-width: 300px;
        text-align: left;
  
        h3 {
          font-size: 24px;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 18px;
        }
      }
    }
  }
  
  .footer {
    background-color: #011013;
    color: #fff;
    padding: 20px;
    text-align: center;
  }




  .search {
    display: flex;
    align-items: center;

    input[type="text"] {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
    }

    button {
      padding: 10px 20px;
      font-size: 16px;
      background-color: #023E8A;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
