$body-background-color-start: #023E8A;
$body-background-color-1: #0077B6;
$body-background-color-2: #0096C7;
$body-background-color-3: #00B4D8;
$body-background-color-4: #48CAE4;
$body-background-color-5: #90E0EF;
$body-background-color-6: #ADE8F4;
$body-background-color-end: #CAF0F8;

@mixin mobile {
  @media screen and (max-width: 480px){
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1095px){
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px){
    @content
  }
}

@keyframes bounce2 {
  from {
    transform: translateY(5);
  }
  to {
    transform: translateY(-5px);
  }
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


body {
  scrollbar-width: none;  /* For Firefox */
}


body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  background-color: #ADE8F4;
  overflow: hidden;
}

.register-logo{
  height: 10vh;
}

.register-container, .login-container {
  display: flex;
  height: 100vh;
  width: 100vw;

  .centeredContentLeft{
    // transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: #023E8A;
    font-size: 8.5em;
    font-weight: bold;
    text-align: center;
    height: 100vh;
    color: #ADE8F4;
    flex: 1;
    margin: 0;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 10px;
    border-radius: 0px 20px 20px 0px;
  
    
   img {
    display: flex;
    justify-content: center;
     height: 20vh;
    // margin-top: 10%; 
    // margin-left: 70%; 
    // margin-right: auto; 
   }

}

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: scroll;

    .centeredContentLeft {
      display: flex;
      justify-content: center;
      border-radius: 0px 0px 20px 20px;
      margin-bottom: 20px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 5px 10px;
      flex: 1;
      flex-direction: row;
      
      .big-sphere {
        height: 3vh;
        animation: 
      bounce2 800ms
            alternate infinite
            cubic-bezier(.5, .5, .5, 0.5);

      }
      
      .app-title {
        font-size: 5vh;
        padding: 20px;
      }
    }

    .formContainer {
      flex: 3;
      width: 100%;

    }
  }

  @include mobile{
    .centeredContentLeft{
      display: none;
    }
  }

  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: $body-background-color-end !important;
    color: $body-background-color-start;
    &:focus {
      outline: none;
    } 
    &::placeholder{
      color: #023E8A;
    }
  }
}

form {
  max-width: 40vw;
}
.formContainer {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ADE8F4;
    margin-top: 10px;
    padding: 0;

    button {
      background-color: $body-background-color-start;
      color: $body-background-color-5;
      padding: 15px;
      font-weight: bold;
      border: none;
      border-radius: 90px;
      cursor: pointer;
      min-width: 250px;
    }
  }  
  .formWrapper {
    // padding: 20px 90px;
    // margin-right: 100px;
    // border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  
    .logo {
      color: $body-background-color-start;
      font-weight: bold;
      font-size: 54px;
    };
  
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
  
      .inputWrapper {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 10px;
        padding-right: 20px;
  
        label {
          color: $body-background-color-start;
          font-weight: bold;
          font-size: 20px;
          width: 150px; 
        }
      };

      .avatar-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        position: relative;
        width: 100%;

        .selected-avatar-image {
          border-radius: 50%;
        }

        .avatar-logo{
          cursor: pointer;
          margin-right: 50px;
        };
      }


      .avatar-input {
        display: flex;
        align-items: center;
        flex-direction: row;
      
        span {
          margin-right: 55%; 
          font-size: 20px;
          color: $body-background-color-start;
          font-weight: bold;
        }
      }
      
    }
  
    p {
      color: $body-background-color-start;
      font-size: 15px;
      margin-top: 10px;
  
      button {
        background-color: transparent;
        color: $body-background-color-start;
        padding: 10px;
        font-weight: bold;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
  
  
